*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat';
  background-color: $main-bg;
}

.cards-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

li {
  list-style: none;
}

a,
a:visited {
  color: inherit;
}


